/*Reset */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONTS */
@font-face {
    font-family: "Nimbus Sans";
    src: url("fonts/nimbus-sans-l_regular.woff2");
}

@font-face {
    font-family: "Nimbus Sans";
    src: url("fonts/nimbus-sans-l_bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Nimbus Sans";
    src: url("fonts/nimbus-sans-l_italic.woff2");
    font-style: italic;
}


body {
    background-color: #A8A9AD;
    background-color: white;
    overflow-x: hidden;
}

content {
    margin-top: 6em;
    display: block;
}

h1, h2 {
    font-family: "Nimbus Sans", serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    margin-bottom: 0.7em;
    font-size: 1.3em;
}

p {
    font-family: "Nimbus Sans", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
}

div {
    font-family: "Nimbus Sans", sans-serif;
}

nav div {
    color: black;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

#navbar-mobile {
    display: none;
}

.d-none {
    display: none;
}

footer {
    left: 0;
    bottom: 0;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}

nav {
    width: 100vw;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999999;
}

#logo {
    max-width: 20vw;
    margin-left: 4em;
    display: flex;
    align-items: center;
}

#logo img {
    max-height: 5em;
    margin-right: 1em;
}

#logo > div > div {
    width: 15em;
}

#navbar {
    max-width: 55vw;
    min-width: 40vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    justify-content: space-between;
    align-items: center;
    margin-right: 4em;
}

#navbar div {
    display: inline-block;
}

section {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    margin-top: 4em;
    background-color: white;
}

figcaption {
    margin-top: 0.5em;
    font-size: 80%;
}

section h1, h2, p {
    margin-left: 15vw;
    margin-right: 15vw;
}

figure img {
    max-width: 100%;
}

#special-tradition {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

#special-tradition > div {
    width: 40%;
    min-width: 20vw;
}

#special-tradition img {
    width: 15em;
    height: 15em;
    overflow: hidden;
}

.cmt-block {
    border: 2px solid #A8A9AD;
    padding: 1em;
}

.opener-image {
    margin-top: 3em;
    max-width: 120em;
}

.opener-image img {
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    min-height: 40em;
}

.gallery-overview {
    margin-left: 4em;
    margin-right: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 4em;
    max-width: 80vw;
    flex-wrap: wrap;
}

.gallery-overview .cmt-block {
    width: 20vw;
    border: none;
    /*outline: 2px solid #A8A9AD;*/
    margin-left: 2px;
    margin-bottom: 2px;
}

.cmt-block img {
    max-width: 100%;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}

.cmt-block {
    text-decoration: none;
    color: black;
}

.cmt-block .img-wrap {
    position: relative;
}

.cmt-block .img-wrap .img-hover-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    height: calc(20vw - 2em);
    padding: 1em;
    text-align: left;
    justify-content: center;
    display: flex;
    align-items: end;
    color: white;
    font-family: "Nimbus Sans", serif;
    font-size: 1em;
}

.img-wrap:hover .img-hover-description {
    visibility: visible;
}

.cmt-block-date {
    font-weight: lighter;
    font-size: 0.7em;
    margin-bottom: 0.2em;
}
.cmt-block-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: black;
}

.cmt-block-subtitle {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.cmt-block-video {
}

.cmt-block-video iframe {
    aspect-ratio: 16 / 9;
}

#media-articles {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 15vw;
    margin-left: 15vw;
}

.media-article {
    padding: 2em;
    border-radius: 1em;
    background-color: #dbdce3;
    margin-bottom: 1em;
}

.media-article-title {
    margin-left: 1vw;
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.media-article-subtitle {
    margin-left: 1vw;
}

#contact {
    display: flex;
    flex-direction: row;
}

#contact-image  {
    width: 50%;
    margin-bottom: -3px;
}

#contact-image img {
    width: 100%;
}

#contact h1, #contact h2 {
    margin-left: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

#contact p,  #contact a {
    margin-left: 2vw;
    font-size: 1.2em;
}

#contact-details {
    margin-top: 2em;
    line-height: 1.6em;
    font-family: "Nimbus Sans";
}

.mb-1 {
    margin-bottom: 1em;
}

.back-button {
    height: 1em;
    bottom: 0;
}

#next-image, #previous-image {
    height: 2em;
    position: relative;
    transform: translateY(-50%);
}

#next-image {
    right: 0;
    position: relative;
}

.gallery {
    height: 50em;
}

.gallery-image-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    min-height: 15em;
    width: 45vh;
    min-width: 40em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-image {
    max-width: 85%;
    max-height: 70%;
    min-height: 20em;
    min-width:28em;
    position: relative;
}

#gallery-image-description {
    width: 45vh;
    min-width: 28em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cr-download-overview {
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.cr-block {
    flex-basis: 30%;
    align-items: center;
    text-decoration: none;
    color: black;
}

.cr-block img {
    max-width: 100%;
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cr-block figcaption {
    text-align: center;
}

#home-feed {
    display: block;
    width: 100%;
    max-width: 120em;
}

#home-feed section {
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
}

#home-feed section > div {
    width: 50%;
    flex: 1;
}

#home-feed > section > div > p, #home-feed > section > div > h2, #home-feed > section > div > h1 {
    margin-left: 0em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

#home-feed section img {
    max-width: 100%;
}

#home-feed .mood-image {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

/* Small only */
@media screen and (max-width: 63.9375em) {
    #navbar {
        display: none;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }

    p, a {
        font-size: 40px !important;
    }

    figcaption {
        font-size: 30px;
    }

    h1, h2, p, a {
        margin-left: 1em;
        margin-right: 1em;
    }

    section h1, section h2, section p {
        margin-left: 0;
        margin-right: 0;
    }

    nav {
        height: 8em;
        position: fixed;
        background-color: white;
        top: 0;
        z-index: 999;
    }

    .hamburger-nav {
        position: absolute;
        right: 0;
        top: 4em;

        background-color: white;
        font-size: 2em;
        box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .hamburger-nav li {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    #logo {
        font-size: 2em;
        margin-left: 1em;
    }

    #logo img {
        max-height: 4em;
        margin-right: 0.5em;
    }

    #navbar-mobile {
        display: unset;
        margin-right: 1em;
    }

    .opener-image {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        margin-top: 8em;
        padding-left: 0;
        padding-right: 0;
    }

    .gallery-overview {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: unset;
        gap: 1em;
    }

    .gallery-overview .cmt-block {
        width: 90vw;
    }

    .cmt-block-video > .cmt-block-date {
        font-size: 1.5em
    }

    .cmt-block-date {
        font-size: 1em;
    }

    .cmt-block-title {
        font-size: 2em;
    }

    .cmt-block-subtitle {
        font-size: 1.5em;
    }

    .cmt-block img {
        width: 80vw;
        height: 80vw;
    }

    .gallery-overview > a {
        margin-left: 0;
        margin-right: 0;
    }

    #home-feed section {
        flex-wrap: wrap;
        margin-left: 2em;
        margin-right: 2em;
    }

    #home-feed section > div {
        width: 90vw;
    }

    .cr-download-overview {
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        gap: 2em;
    }

    .cr-download-overview > .cr-block {
        flex-basis: 100%;
    }

    .cr-block img {
        width: 80vw;
        height: 80vw;
    }

    .cr-block figcaption {
        font-size: 40px;
    }
}